extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h1= story.title
  p= story.content
  if authenticated
    if (locals.user.id === story.userId)
      a(href=`/stories/${story.id}/edit`)
        button Edit
      a(href=`/stories/${story.id}/delete`)
        button Delete
