extends layout.pug

block content
  div
    p Are you sure you want to delete this story?
  div
  form(action=`/stories/${story.id}/delete`, method='post')
    input(type="hidden", name="_csrf", value=csrfToken)
    button(type= 'submit') Delete Story
    a(href=`/users/:${userId}` class='') Cancel
