extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/user/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Username', 'username', user.username)
    +field('Email', 'email', user.email)
    +field('Password', 'password', user.password)
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='')
      button(type='submit' class='') Sign Up
      a(href='/' class='') Cancel
    div
      p: a(href='/user/login') Already have an account?
