extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/login.css")

block content
  +validationErrorSummary(errors)
  div(class='login-body')
    form(class='signup' action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Username', 'username', user.username)
      +field('Email', 'email', user.email)
      +field('Password', 'password', user.password)
      +field('Confirm Password', 'confirmPassword', '', 'password')
      div(class='login-buttons')
        button(class='signup' type='submit' class='login-button') Sign Up
        a(href='/' class='login-button') Cancel
      div(class='signup-link')
        a(href='/users/login') Already have an account?
