extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  div(class='site-body')
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email Address', 'email', email)
      +field('Password', 'password', null, 'password')
      div(class='')
        button(type='submit' class='') Login
        a(href='/' class='') Cancel
      div
          p: a(href='/users/signup') Don't have an account?
