h1 {
    color: white;
}

/* -- TOP NAVBAR --------------------------------------------------------------------------------------------------------------------------- */

.top-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: #272640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

.top-navbar-left {
    margin-left: 8.5%;
    margin-bottom: 2px;
    background-color: #272640;
}

.top-navbar-right {
    margin-right: 12.5%;
}

.top-navbar-right ul {
    display: flex;
}

.top-navbar-right li {
    list-style: none;
    margin-left: 20px;
}

.top-navbar-right a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button {
    color: white;
    border: 1px solid black;
    background: white;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    border-radius: 20px;
}

.navbar-user-welcome {
    color: white;
    background: #272640;
    margin-right: 10px;
}

/* -- SPLASH PAGE --------------------------------------------------------------------------------------------------------------------------- */

.splash-main {
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #272640;
    border-bottom: 1px solid black;
    background-image: url("../splash-ghost.png");
    background-position: bottom 0px right 15%;
    background-size: contain;
    background-repeat: no-repeat;
}

.splash-left {
    padding-left: 10.5%;
    width: 700px;
}

#splash-text-big {
    font-family: 'Charter', serif;
    font-weight: 590;
    letter-spacing: -3px;
    font-size: 66px;
    line-height: 70px;
}

#splash-text-main {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-weight: lighter;
    font-size: 36;
    color: white;
}

#splash-start-writing-button {
    font-size: 16px;
    font-weight: lighter;
    border: 1px solid black;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: 19%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
}

/* -- FEED --------------------------------------------------------------------------------------------------------------------------- */

.site-body {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10.5%;
}

.scrolling-feed {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 20px;
    grid-template-areas: 'scrolling sidebar';
}

/* -- USER PROFILE PAGE --------------------------------------------------------------------------------------------------------------------------- */


.profile {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 20px;
    /* grid-template-areas: "profile stories space"; */
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.user-stories {
    grid-column: 1;
    background-color: #3a3b3c;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 15px;
}

.user-stories-content {
    background-color: #3a3b3c;
}

.user-stories-title {
    background-color: #3a3b3c;
    font-weight: bolder;
    font-size: 30px;
}

.user-stories-created {
    background-color: #3a3b3c;
    font-size: 15px;
    line-height: 30px;
}

.personInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* margin-right: 30px; */
}

.subscribe {
    color:white;
}

header {
    background-color: #272640;
    color:white;
    display:grid;
    /* justify-content: center; */
    align-items: center;
    height: 100px;
    border-bottom: solid gray 1px;
}

.profileNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #272640;
}

.leftSideNav {
    background-color:#272640;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left:180px;
}

.rightSideNav {
    background-color: #272640;
    display: flex;
    align-items: center;
    margin-right:180px;
    padding: 0px 5px;
}

.navUser {
    font-weight: bolder;
    font-size:25px;
    margin: 0px 10px;
}

.navFollower {
    margin: 0px 10px;
}

.navAbout {
    margin: 0px 10px;
}

.followBtn {
    margin: 0px 10px;
}

.subBtn {
    margin: 0px 10px;
}

.searchbtn {
    margin: 0px 10px;
}

.upgradebtn {
    margin: 0px 10px;
}

.profilebtns {
    display:flex;
}

.subbtn2, .followbtn2 {
    margin-left: 10px;
}

/* -- FEED STORIES --------------------------------------------------------------------------------------------------------------------------- */

.feed-story {
    background-color: #3a3b3c;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 'story-title' 'story-author' 'story-snippet' 'story-metadata';
    height: 227px;
}


.story-title {
    grid-area: story-title;
    font-size: 16px;
    margin-bottom: -5px;
    background-color: #3a3b3c;
}

.story-author {
    display: inline-flex;
    grid-area: story-author;
    font-size: 12px;
    background-color: #3a3b3c;
}

.story-snippet {
    grid-area: story-snippet;
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    background-color: #3a3b3c;
    height: 35px;
}

.story-metadata {
    grid-area: story-metadata;
    font-size: 12px;
    background-color: #3a3b3c;
}

/* -- FEED SIDEBAR --------------------------------------------------------------------------------------------------------------------------- */

.sidebar {
    z-index: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    grid-area: sidebar;
}

#discover-header {
    z-index: 0;
    font-weight: bold;
    font-size: 16px;
    margin: 20px;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.discover-tabs {
    position: sticky;
    top: 145px;
}

.discover-row {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 8px;
}

.discover-tabs li {
    list-style: none;
    z-index: 0;
    position: -webkit-sticky;
    position: sticky;
    border: 1px solid lightgray;
    border-width: max-content;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 8px;
    border-radius: 4px;
}

.discover-tabs a {
    position: -webkit-sticky;
    position: sticky;
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

* {
    background-color: #242526;
}

.alert {
    background-color: #3a3b3c;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    align-items: center;
}

.alert-danger {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 50px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.alert li {
    justify-items: center;
}
