h1 {
    color: #555555;
}


.top-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    background-color: #272640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}

.top-navbar-left {
    margin-left: 8.5%;
    margin-bottom: 2px;
    background-color: #272640;
}

.top-navbar-right {
    margin-right: 12.5%;
}

.top-navbar-right ul {
    display: flex;
}

.top-navbar-right li {
    list-style: none;
    margin-left: 20px;
}

.top-navbar-right a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button {
    color: white;
    border: 1px solid black;
    background: white;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    border-radius: 20px;
}

.navbar-user-welcome {
    color: white;
    background: #272640;
    margin-right: 10px;
}

.feed-story {
    background-color: #3a3b3c;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 15px;
}

.site-body {
    margin-top: 30px;
    margin-left: 10.5%;
    margin-right: 10.5%;
}

* {
    background-color: #242526;
}
