extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  h1= message
  h2= error.status
  pre #{error.stack}
