extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel='stylesheet' href='/stylesheets/footer.css')
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='splash-main')
    div(class='splash-left')
      h1(id='splash-text-big') Eerium is a place to write, read, and connect
      h3(id='splash-text-main') It's easy and free to post your thinking on any topic and connect with millions of readers.
      a(id='splash-start-writing-button' href='/stories/create') Start Writing

  div(class='site-body')
    div(class='scrolling-feed')

      div(class='feed-stories')
        each story in stories
          div(class='feed-story')
            a(href=`/stories/${story.id}`, class='story-title')= story.title
            a(href=`/users/${story.User.id}`, class='story-author')= story.User.username
            p(class='story-metadata')= story.createdAt
            p(class='story-snippet')= story.content


      if locals.authenticated
        div(class='sidebar')
          p(id='discover-header') DISCOVER MORE OF WHAT MATTERS TO YOU
            div(class='discover-tabs')
              ul(class='discover-row')
                li
                  a(href='') Category 1
                li
                  a(href='') Category 2
                li
                  a(href='') Category 3
              ul(class='discover-row')
                li
                  a(href='') Category 4
                li
                  a(href='') Category 5
                li
                  a(href='') Category 6
              ul(class='discover-row')
                li
                  a(href='') Category 7
                li
                  a(href='') Category 8
                li
                  a(href='') Category 9
      else
        div(class='sidebar')
          p(id='discover-header') DISCOVER MORE OF WHAT MATTERS TO YOU
            div(class='discover-tabs')
              ul(class='discover-row')
                li
                  a(href='') Category 1
                li
                  a(href='') Category 2
                li
                  a(href='') Category 3
              ul(class='discover-row')
                li
                  a(href='') Category 4
                li
                  a(href='') Category 5
                li
                  a(href='') Category 6
              ul(class='discover-row')
                li
                  a(href='') Category 7
                li
                  a(href='') Category 8
                li
                  a(href='') Category 9

  div(class="footer" style="position: relative")
    .divider
      div(class="footer-content")
        div(class="person")
          img(class="person-profile" src="./profile-karandeep.jpg")
          p(class="person-name") Karandeep Singh
          div(class="icons")
            a(href="" target="_blank")
              img(src="linkedin.png" class="icon")
            a(href="https://github.com/jinnie96" target="_blank")
              img(src="github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="./profile-xander.jpg")
          p(class="person-name") Xander Gangemi
          div(class="icons")
            a(href="" target="_blank")
              img(src="linkedin.png" class="icon")
            a(href="https://github.com/gitxandalf" target="_blank")
              img(src="github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="./profile-yura.jpg")
          p(class="person-name") Yu Ra Kim
          div(class="icons")
            a(href="https://www.linkedin.com/in/yura-kim/" target="_blank")
              img(src="linkedin.png" class="icon")
            a(href="https://github.com/kim-yura" target="_blank")
              img(src="github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="./profile-zhen.jpg")
          p(class="person-name") Zhen Yu
          div(class="icons")
            a(href="" target="_blank")
              img(src="linkedin.png" class="icon")
            a(href="https://github.com/zyusnow" target="_blank")
              img(src="github.png" class="icon")
