doctype html
html
  head
    block head
      title="Eerium"
      meta(name="title" property="og:title" content="Triple Confirmed Games")
      meta(property="og:type" content="Website")
      meta(name="image" property="og:image" content="https://res.cloudinary.com/dprnsux1z/image/upload/v1646952869/CleanShot_2022-03-10_at_14.54.07_2x_zpaoer.png")
      meta(name="description" property="og:description" content="")
      meta(name="author" content="Karandeep Singh, Zhen Yu, Yu Ra Kim, Xander Gangemi")
      link(rel='stylesheet' href='/stylesheets/reset.css')

  body
    nav(class='top-navbar')
      div(class='top-navbar-left')
        a(href='/')
          img(src='/eerium-logo.png' class='top-navbar-left' style='height: 50px')
      div(class='top-navbar-right')
        ul
        if locals.authenticated
          div(class='navbar-buttons')
            if sessionUsername!==undefined
              p(class='navbar-user-welcome') Welcome #{sessionUsername}!
            a(class='navbar-button' href='/stories/create') Write Story
            a(class='navbar-button' href='/users/logout') Log Out
        else
          li
            div(class='navbar-buttons')
              a(class='navbar-button' href='/users/login') Login
              a(class='navbar-button' href='/users/signup') Sign Up
              a(class='navbar-button' href='/users/demo') Demo

    block content
