doctype html
html
  head
    block head
      title="Eerium"
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class='top-navbar')
      div(class='top-navbar-left')
        a(href='/')
          img(src='../eerium-logo.png' class='top-navbar-left' style='height: 50px')
      div(class='top-navbar-right')
        ul
        if locals.authenticated
          div(class='navbar-buttons')
            if sessionUsername!==undefined
              p(class='navbar-user-welcome') Welcome #{sessionUsername}!
            a(class='navbar-button' href='/stories/create') Write Story
            a(class='navbar-button' href='/users/logout') Log Out
        else
          li
            div(class='navbar-buttons')
              a(class='navbar-button' href='/users/login') Login
              a(class='navbar-button' href='/users/signup') Sign Up
              a(class='navbar-button' href='/users/demo') Demo

    block content

    block footer
      include footer.pug
