extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/stories.css")
  link(rel='stylesheet' href='/stylesheets/footer.css')

block content
  div(class="delete-story")
    p Are you sure you want to delete this story?
    form(action=`/stories/${story.id}/delete`, method='post' id="delete-form")
      input(type="hidden", name="_csrf", value=csrfToken)
      button(type= 'submit' class="delete-button") Delete Story
      a(href=`/users/:${userId}` class="delete-button") Cancel

  div(class="footer")
    .divider
      div(class="footer-content")
        div(class="person")
          img(class="person-profile" src="/profile-karandeep.jpg")
          p(class="person-name") Karandeep Singh
          div(class="icons")
            a(href="" target="_blank")
              img(src="/linkedin.png" class="icon")
            a(href="https://github.com/jinnie96" target="_blank")
              img(src="/github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="/profile-xander.jpg")
          p(class="person-name") Xander Gangemi
          div(class="icons")
            a(href="" target="_blank")
              img(src="/linkedin.png" class="icon")
            a(href="https://github.com/gitxandalf" target="_blank")
              img(src="/github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="/profile-yura.jpg")
          p(class="person-name") Yu Ra Kim
          div(class="icons")
            a(href="https://www.linkedin.com/in/yura-kim/" target="_blank")
              img(src="/linkedin.png" class="icon")
            a(href="https://github.com/kim-yura" target="_blank")
              img(src="/github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="/profile-zhen.jpg")
          p(class="person-name") Zhen Yu
          div(class="icons")
            a(href="" target="_blank")
              img(src="/linkedin.png" class="icon")
            a(href="https://github.com/zyusnow" target="_blank")
              img(src="/github.png" class="icon")
