extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/stories.css")

block content
  div(class="delete-story")
    p Are you sure you want to delete this story?
    form(action=`/stories/${story.id}/delete`, method='post' id="delete-form")
      input(type="hidden", name="_csrf", value=csrfToken)
      button(type= 'submit' class="delete-button") Delete Story
      a(href=`/users/:${userId}` class="delete-button") Cancel
