extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/login.css")
  link(rel='stylesheet' href='/stylesheets/footer.css')

block content
  +validationErrorSummary(errors)
  div(class='login-body')
    form(class='signup' action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('username', 'username', user.username)
      +field('email', 'email', user.email)
      +field('password', 'password', user.password)
      +field('confirmPassword', 'confirmPassword', '', 'password')
      div(class='login-buttons')
        button(class='signup' type='submit' class='login-button') Sign Up
        a(href='/' class='login-button') Cancel
      div(class='signup-link')
        a(href='/users/login') Already have an account?

  div(class="footer")
    .divider
      div(class="footer-content")
        div(class="person")
          img(class="person-profile" src="../profile-karandeep.jpg")
          p(class="person-name") Karandeep Singh
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/jinnie96" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-xander.jpg")
          p(class="person-name") Xander Gangemi
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/gitxandalf" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-yura.jpg")
          p(class="person-name") Yu Ra Kim
          div(class="icons")
            a(href="https://www.linkedin.com/in/yura-kim/" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/kim-yura" target="_blank")
              img(src="../github.png" class="icon")

        div(class="person")
          img(class="person-profile" src="../profile-zhen.jpg")
          p(class="person-name") Zhen Yu
          div(class="icons")
            a(href="" target="_blank")
              img(src="../linkedin.png" class="icon")
            a(href="https://github.com/zyusnow" target="_blank")
              img(src="../github.png" class="icon")
