.profile-body {
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 20px;
    grid-template-areas: 'leftNav mainNav';
    margin-top: 30px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.profile-left-container {
    grid-area: 'leftNav';
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.profile-user {
    font-size: 24px;
}

.divider-profile {
    width: 50%;
    border-top: double gray;
    padding-bottom: 20px;
}

.nav-about-text {
    font-size: 12px;
    margin-top: -5px;
}

.profile-main-container {
    grid-area: 'mainNav';
    display: grid;
    margin-bottom: 20px;
}

.person-img {
    border-radius: 50%;
}

.profile-story-title {
    font-size: 24px;
}

.profile-story-content{
    background-color: #3a3b3c;
}

.profile-edit-button {
    color: black;
    border: 1px solid black;
    background: whitesmoke;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 10px;
    border-radius: 20px;
}
