.post-story {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

#story-title {
    border: 1px solid gray;
    color: whitesmoke;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#story-content {
    border: 1px solid gray;
    color: whitesmoke;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
}

#submit-story {
    color: black;
    border: 1px solid black;
    background: whitesmoke;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.story-likes {
    color: black;
    border: 1px solid black;
    background: whitesmoke;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    border-radius: 20px;
    align-self: center;
    text-decoration: none;
    font-size: 1px;
    width: 100px;
    text-align: center;
}

.story-like-counter {
    text-align: right;
    color: white
}

.delete-button, .updateBtn, .cancelBtn {
    color: black;
    border: 1px solid black;
    background: whitesmoke;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 10px;
    border-radius: 20px;
    align-self: center;
    text-decoration: none;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.delete-story {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    align-items: center;
    color: whitesmoke;
}

#delete-form {
    display: flex;
    flex-direction: column;
}
